<body>
    <p-tabView>
        <p-tabPanel header="Lista de Pacientes">
            <div class="container text-center">

                <div class="col burbuja">
                    <br>
                    <div class="form-group m-3">
                        <input type="text" class="form-control" name="filterPost" placeholder="buscar"
                            [(ngModel)]="filterPost">
                    </div>
                    <div class="table-responsive-md">
                        <div class="scrollable">
                            <table class="table table-bordered table-hover border-dark mt-2 text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">Rut Paciente</th>
                                        <th scope="col">Nombre Paciente</th>
                                        <th scope="col">Detalles</th>
                                    </tr>
                                </thead>

                                <tbody *ngFor="let paciente of paciente | filter : filterPost ">
                                    <tr>
                                        <td>{{ paciente.rut }}</td>
                                        <td>{{ paciente.nombre }}</td>
                                        <td><button type="button" (click)="goDetalles(paciente)"
                                                class="btn btn-primary">Ver Detalles</button></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Agregar Paciente">
            <div class="container text-center">
                <br>
                <h1>Agregar Paciente</h1>
                <br>
                <div class=" burbuja">
    
                    <form #pacienteform="ngForm" (ngSubmit)="addPaciente(pacienteform) " class="row g-3 mb-3">
                        <input type="hidden" name="_id" [(ngModel)]="pacienteService.selectedPaciente._id">

                        <div class="col-lg-6 col-sm-6">
                            <label for="inputName" class="form-label">Nombre</label>
                            <input type="text" class="form-control" name="nombre"
                                [(ngModel)]="pacienteService.selectedPaciente.nombre">
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <label for="inputName" class="form-label">Fecha de Nacimiento</label>
                            <input type="date" class="form-control" name="fechaNac" onkeydown="return false"
                                [(ngModel)]="pacienteService.selectedPaciente.fechaNac">
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <label for="inputName" class="form-label">Numero De Contacto</label>
                            <input type="text" class="form-control" name="numeroContacto"
                                [(ngModel)]="pacienteService.selectedPaciente.numeroContacto">
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <label for="inputName" class="form-label">Numero De Emergencia</label>
                            <input type="text" class="form-control" name="numeroEmergencia"
                                [(ngModel)]="pacienteService.selectedPaciente.numeroEmergencia">
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <label for="inputName" class="form-label">Rut</label>
                            <input type="text" class="form-control" name="rut"
                                [(ngModel)]="pacienteService.selectedPaciente.rut">
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <label for="inputName" class="form-label">Enfermedad Relevante</label>
                            <input type="text" class="form-control" name="enfermedadR"
                                [(ngModel)]="pacienteService.selectedPaciente.enfermedadR">
                        </div>
                      
                        <div class="text-center mb-3">
    
                            <button type="submit" class="btn btn-danger text-uppercase" value="Guardar">Agregar
                                Usuario</button>
                        </div>
                    </form>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>

</body>