
<p-sidebar [(visible)]="display" position="left" [transitionOptions]="'500ms'" >
    <div class="sidebar-item">
        <a routerLink="/inicio" class='sidebar-link'>
            <i><span class="material-icons">
                home
                </span></i>
            <span>Inicio</span>
        </a>
    </div>

    <div class="sidebar-item">
        <a routerLink="/atencion" class='sidebar-link'>
            <i><span class="material-icons">
                medical_services
                </span></i>
            <span>Atencion</span>
        </a>
    </div>
    <div class="sidebar-item ">
        <a routerLink="/calendario" class='sidebar-link'>
            <i><span class="material-icons">
                calendar_month
                </span></i>
            <span>Agenda</span>
        </a>
    </div>
   
    <div class="sidebar-item ">
        <a routerLink="/agenda" class='sidebar-link'>
            <i><span class="material-icons">
                edit_calendar
                </span></i>
            <span>Agregar Horas</span>
        </a>
    </div>
    <div class="sidebar-item">
        <a routerLink="/historial" class='sidebar-link'>
            <i><span class="material-icons">
                view_list
                </span></i>
            <span>Historial</span>
        </a>
    </div>
    <div class="sidebar-item">
        <a routerLink="/Admin" class='sidebar-link'>
            <i><span class="material-icons">
                group
                </span></i>
            <span>Admin</span>
        </a>
    </div>
    <ng-template pTemplate="footer"> <button type="button" class="btn btn-danger ml-2" (click)="apiService.logout()">
        <span class="material-icons">
          logout
          </span>
        Cerrar
        Sesion</button></ng-template>
</p-sidebar>

<p-toolbar styleClass="toolbarS">
<ng-container *ngIf="!apiService.loggedIn();else loggedIn" >

    <img src="../../../assets/logo.jpg" alt="" width="250" height="50">
    <div class="p-toolbar-group-right">
    
    </div>

</ng-container>

<ng-template #loggedIn>
    <div class="p-toolbar-group-left" >
        <button pButton  (click)="display = true" class="p-button p-button-lg p-button-success" icon="pi pi-bars" ></button>
    </div>
    <img src="../../../assets/logo.jpg" alt="" width="250" height="50">
    <div class="p-toolbar-group-right">
    
    </div>

</ng-template>
</p-toolbar>



<router-outlet></router-outlet>
