<div class="container">
  <div class="row row-cols-7 text-center fw-bold mt-1">
    <div class="col">

      <div *ngFor="let hora of horas">
        <div *ngIf="hora.dia === 'lunes' && hora.semana === semana">
          <div class="pt-1 pb-2 dias-disp mb-2 cursor-dialog" (click)="showDialog()" (click)="obtenerId(hora._id)"
            *ngIf="hora.disponibilidad">
            <span>{{ hora.hora }}</span>
            <br>
            <span>Disponible</span>
          </div>
          <div class="pt-1 pb-2 mb-1 dias-noDisp cursor-dialog" (click)="showDialog2()" (click)="obtenerId(hora._id)"
            (click)="obtenerRut(hora._id)" *ngIf="!hora.disponibilidad">
            <span>{{ hora.hora }}</span>
            <br>
            <span>Agendado</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div *ngFor="let hora of horas">
        <div *ngIf="hora.dia === 'martes' && hora.semana === semana">
          <div class="pt-1 pb-2 dias-disp mb-2 cursor-dialog" (click)="showDialog()" (click)="obtenerId(hora._id)"
            *ngIf="hora.disponibilidad">
            <span>{{ hora.hora }}</span>
            <br>
            <span>Disponible</span>
          </div>
          <div class="pt-1 pb-2 mb-1 dias-noDisp cursor-dialog" (click)="showDialog2()" (click)="obtenerId(hora._id)"
            (click)="obtenerRut(hora._id)" *ngIf="!hora.disponibilidad">
            <span>{{ hora.hora }}</span>
            <br>
            <span>Agendado</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div *ngFor="let hora of horas">
        <div *ngIf="hora.dia === 'miércoles' && hora.semana === semana">
          <div class="pt-1 pb-2 dias-disp mb-2 cursor-dialog" (click)="showDialog()" (click)="obtenerId(hora._id)"
            *ngIf="hora.disponibilidad">
            <span>{{ hora.hora }}</span>
            <br>
            <span>Disponible</span>
          </div>
          <div class="pt-1 pb-2 mb-1 dias-noDisp cursor-dialog" (click)="showDialog2()" (click)="obtenerId(hora._id)"
            (click)="obtenerRut(hora._id)" *ngIf="!hora.disponibilidad">
            <span>{{ hora.hora }}</span>
            <br>
            <span>Agendado</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div *ngFor="let hora of horas">
        <div *ngIf="hora.dia === 'jueves' && hora.semana === semana">
          <div class="pt-1 pb-2 dias-disp mb-2 cursor-dialog" (click)="showDialog()" (click)="obtenerId(hora._id)"
            *ngIf="hora.disponibilidad">
            <span>{{ hora.hora }}</span>
            <br>
            <span>Disponible</span>
          </div>
          <div class="pt-1 pb-2 mb-1 dias-noDisp cursor-dialog" (click)="showDialog2()" (click)="obtenerId(hora._id)"
            (click)="obtenerRut(hora._id)" *ngIf="!hora.disponibilidad">
            <span>{{ hora.hora }}</span>
            <br>
            <span>Agendado</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div *ngFor="let hora of horas">
        <div *ngIf="hora.dia === 'viernes' && hora.semana === semana">
          <div class="pt-1 pb-2 dias-disp mb-2 cursor-dialog" (click)="showDialog()" (click)="obtenerId(hora._id)"
            *ngIf="hora.disponibilidad">
            <span>{{ hora.hora }}</span>
            <br>
            <span>Disponible</span>
          </div>
          <div class="pt-1 pb-2 mb-1 dias-noDisp cursor-dialog" (click)="showDialog2()" (click)="obtenerId(hora._id)"
            (click)="obtenerRut(hora._id)" *ngIf="!hora.disponibilidad">
            <span>{{ hora.hora }}</span>
            <br>
            <span>Agendado</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<p-dialog header="Agendar esta Hora" [(visible)]="display">

  <div>
    <form #horaForm="ngForm" (ngSubmit)=" posthoraReservada( horaForm ) ">
      <div class="mb-3">
        <label for="rut" class="form-label">Ingresar nombre:</label>
        <input type="text" class="form-control" name="nombre" id="nombre" (ngModel)="nombre" >
      </div>
      <div class="mb-3">
        <label for="rut" class="form-label">Ingresar rut:</label>
        <input type="text" class="form-control" name="rut" id="rut" (ngModel)="rut" >
      </div>
      <div class="mb-3">
        <label for="rut" class="form-label">Ingresar numero:</label>
        <input type="text" class="form-control" name="numero" id="numero" (ngModel)="numero" >
      </div>
      <button type="submit" class="btn btn-primary"> Agendar </button>
    </form>
  </div>


</p-dialog>

<p-dialog header="Detalles de la reserva" [(visible)]="display2">
  <div>
    <p>Rut del paciente: {{rut2}}</p>
  </div>
  <div>
    <p>Nombre del paciente: {{nombre}}</p>
  </div>
  <div>
    <p>Telefono del paciente: {{numero}}</p>
  </div>
</p-dialog>