<body>
    <section style="padding: 3rem;">
        <div class="text-center">
            <h1>Atencion Medica</h1>
        </div>
        <div class="col-lg-12 burbuja" >
            <form class="row g-3" style="padding: 3rem;">  
                <h1> datos del paciente</h1>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Nombre y apellido</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="Nombre completo">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">edad</label>
                    <input type="text" class="form-control" id="inputPassword4" placeholder="edad">
                  </div>
              
                <div class="form-group col-md-6">
                  <label for="inputAddress">Numero de contacto</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="9555-555-555">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputAddress2">numero de emergencia</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="9555-555-555">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">enfermedad relevante</label>
                    <input type="text" class="form-control" id="inputPassword4" placeholder="">
                  </div>
                
             
                <h1>observaciones medicas</h1>
                <div class="row burbuja">
                    <p>examen del pie</p>
                    <!-- <div class="col-3">
                        
                        <p>pulso pedio</p>
                        <div class="form-check form-check-inline col-1">
                            <input class="" type="text" id="inlineCheckbox1">
                            <label class="form-check-label" for="inlineCheckbox1">1</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">2</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
                            <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
                          </div>
                          
                    </div> -->
                    <!-- <div class="col-3">
                        <p>pulso tibial</p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">1</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">2</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
                            <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
                          </div>
                    </div> -->
                    <div class="col-3">
                        <p>problemas circulatorios?</p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">SI</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">NO</label>
                          </div>
                    </div>
                    <div class="col-3">
                        <p>temperatura</p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">fria</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">normal</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
                            <label class="form-check-label" for="inlineCheckbox3">caliente</label>
                          </div>
                    </div>
                    <div class="col-3">
                        <p>piel</p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">Seca</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">normal</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
                            <label class="form-check-label" for="inlineCheckbox3">Humeda</label>
                          </div>
                    </div>

                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Observaciones Generales</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Tratamiento a Seguir</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                
                
               
                <button type="submit" class="btn btn-primary">Sign in</button>
              </form>
            
        </div>
    </section>
</body>