<body>
    <section class="">
      <div class="container text-center">
        <h1>Bienvenido </h1>
        
        <h1>este es el estado actual de la clinica</h1>
        <div class="row row-30 align-items-center">
          <div class="col-md-6">
  
          </div>
        </div>
      </div>
    </section>

  
    <section class="section section-lg">
      <div class="container text-center ">
  
        <div class="row">
          <div class="col-md-5 burbuja m-5">
  
            <h2 class="pt-3"></h2><span class="h2">HOY</span>
            <div class="table-responsive-md">
              <div class="scrollable">
                <table class="table border-primary" >
                  <thead>
                    <tr class="table-primary">
                      <th scope="col">Nombre</th>
                      <th scope="col">Rut</th>
                      <th scope="col">Hora</th>
                    </tr>
                  </thead>
                  <ng-container *ngFor="let hora of hora">
                    <tbody *ngFor="let a of hora.horaTomada">
                      <tr *ngIf="a.dia == 'miércoles' ">
                        <td>{{hora.nombre}}</td>
                        <td>{{hora.rut}}</td>
                        <td>{{a.fecha | date: 'shortTime': 'UTC'}}</td>
                      </tr>
                    </tbody>
                  </ng-container>
                </table>
              </div>
            </div>
          </div>
          <div #ContainerRef class="col-md-5 burbuja">
            <h2 class="pt-3"></h2><span class="h2">Atenciones realizadas los 3 anteriores meses</span>
            <ngx-charts-line-chart [view]="[ContainerRef.offsetWidth, 400]" scheme="forest"
              [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
              [timeline]="timeline" [results]="multi" (select)="onSelect($event)" (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)">
            </ngx-charts-line-chart>
  
          </div>
         
        </div>
  
      </div>
    </section>

  
    <section class="section section-lg">
      <div class="container text-center">
  
        <div class="row">
            <div class="col-md-5 burbuja m-5">
    
              <h2 class="pt-3"></h2><span class="h2">Esta semana</span>
              <div class="table-responsive-md">
                <div class="scrollable">
                  <table class="table border-primary">
                    <thead>
                      <tr class="table-primary">
                        <th scope="col">Nombre</th>
                        <th scope="col">Rut</th>
                        <th scope="col">Fecha de reserva</th>
                      </tr>
                    </thead>
                    <ng-container *ngFor="let hora of hora">
                      <tbody *ngFor="let a of hora.horaTomada">
                        <tr *ngIf="a.semana == 52 ">
                          <td>{{hora.nombre}}</td>
                          <td>{{hora.rut}}</td>
                          <td>{{a.fecha | date: 'mediumDate' }} a las  {{a.fecha | date: 'shortTime': 'UTC'}}</td>
                      </tr>
                    </tbody>
                    </ng-container>
                  </table>
                </div>
              </div>
            </div>
         
           
          </div>
  
      </div>
    </section>

  
    <footer>
      <!-- <div class="text-center"><img src="../../../assets/Logo-Botmila.png" alt="" width="500" height="150"
          class="d-inline-block align-text-top"></div> -->
  
    </footer>
  </body>