<section class="section section-lg" >
  <div class="container" *ngFor="let paciente of paciente ">

    <div class="row">
      <div class="burbuja" style="background-color: aliceblue;">
        <div class="row text-center">
          <span class="h2">DETALLES PUBLICADOS</span>
        </div>
        <div class="row card-text">
          <div class="col-sm-2 ">
            <span class="h5">Nombre del Paciente:</span>
          </div>
          <div class="col-sm-4 mb-3">
            <span class="h6">{{paciente.nombre}} </span>
          </div>
          <div class="col-sm-2">
            <span class="h5">Fecha de nacimiento:</span>
          </div>
          <div class="col-sm-4 mb-3">
            <span class="h6">{{paciente.fechaNac}}</span>
          </div>
          <div class="col-sm-2 mb-3">
            <span class="h5">Numero Personal:</span>
          </div>
          <div class="col-sm-4 mb-3">
            <span class="h6">{{paciente.numeroContacto}}</span>
          </div>
          <div class="col-sm-2 mb-3">
            <span class="h5">Numero de emergencia:</span>
          </div>
          <div class="col-sm-4 mb-3">
            <span class="h6">{{paciente.numeroEmergencia}}</span>
          </div>
          <div class="col-sm-2 mb-3">
            <span class="h5">rut del paciente:</span>
          </div>
          <div class="col-sm-4 mb-3">
            <span class="h6">{{paciente.rut}}</span>
          </div>
          <div class="col-sm-2 mb-3">
            <span class="h5">Enfermedad Relevante:</span>
          </div>
          <div class="col-sm-4 mb-3">
            <span class="h6">{{paciente.enfermedadR}}</span>
          </div>
        </div>
      </div>
    </div>

    <button type="button" (click)="goAtencion(paciente)" class="btn btn-primary">Realizar Atencion </button>
  </div>
</section>
<section>
  <div>
    <div class="table-responsive-md">
      <div class="scrollable">
          <table class="table table-bordered table-hover border-dark mt-2 text-center" style="background-color: aliceblue;">
              <thead>
                  <tr>
                      <th scope="col">Observaciones</th>
                      <th scope="col">Procedimiento</th>
                      <th scope="col">Tratamiento</th>
                  </tr>
              </thead>

              <tbody *ngFor="let atencion of atencion">
                  <tr *ngIf="atencion.paciente == cosa">
                      <td>{{atencion.observaciones}}</td>
                      <td>{{atencion.procedimiento}}</td>
                      <td>{{atencion.tratamiento}}</td>

                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  </div>
</section>