

    
    <section class="section section-lg" *ngFor="let Reserva of Reserva ">
      <div class="container" >
  
        <div class="row">
          <div class="burbuja" >
            <div class="row text-center">
              <span class="h2">DETALLES PUBLICADOS</span>
            </div>
            <div class="row card-text">
              <div class="col-sm-2 ">
                <span class="h5">Inicio del Torneo:</span>
              </div>
              <div class="col-sm-4 mb-3">
                <span class="h6">El Torneo comienza el {{Reserva.nombre}} </span>
              </div>
              <div class="col-sm-2">
                <span class="h5">Lugar:</span>
              </div>
              <div class="col-sm-4 mb-3">
                <span class="h6">El Torneo se jugara en  </span>
              </div>
              <div class="col-sm-2 mb-3">
                <span class="h5">Inicio de inscripciones:</span>
              </div>
              <div class="col-sm-4 mb-3">
                <span class="h6"></span>
              </div>
              <div class="col-sm-2 mb-3">
                <span class="h5">Fin de Inscripciones:</span>
              </div>
              <div class="col-sm-4 mb-3">
                <span class="h6"></span>
              </div>
              <div class="col-sm-2 mb-3">
                <span class="h5">Categoria del torneo:</span>
              </div>
              <div class="col-sm-4 mb-3">
                <span class="h6" ></span>
              </div>
              <div class="col-sm-2 mb-3">
                <span class="h5">Limite de parejas:</span>
              </div>
              <div class="col-sm-4 mb-3">
                <span class="h6"></span>
              </div>
              <div class="col-sm-2">
                <span class="h5">Detalles:</span>
              </div>
              <div class="col-sm-4 mb-3">
                <span class="h6"></span>
              </div>
            </div>
          </div>
        </div>
  
      </div>
